<mat-card>
  <mat-card-title>Add Monster</mat-card-title>
  <mat-card-content>
    <form [formGroup]="monster" (ngSubmit)='onSubmit()'>
      <div>
    <mat-form-field>
      <input matInput aria-label="name" placeholder="name" type="text"  
      formControlName="name" required #spy/>
      <mat-error
      *ngIf="monster.get('name')['errors'] && monster.get('name').touched"
    >
      {{ getErrorMessage(monster.get('name')['errors']) }}
    </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput aria-label="description" placeholder="description" type="text"  
      formControlName="description" required />
      <mat-error
      *ngIf="monster.get('description')['errors'] && monster.get('description').touched"
    >
      {{ getErrorMessage(monster.get('description')['errors']) }}
    </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput aria-label="attack" placeholder="attack" type="number"  
      formControlName="attack" required />
      <mat-error
      *ngIf="monster.get('attack')['errors'] && monster.get('attack').touched"
    >
      {{ getErrorMessage(monster.get('attack')['errors']) }}
    </mat-error>
    </mat-form-field>
      <mat-form-field>
        <input matInput aria-label="defense" placeholder="defense" type="number"  
        formControlName="defense" required />
        <mat-error
        *ngIf="monster.get('defense')['errors'] && monster.get('defense').touched"
      >
        {{ getErrorMessage(monster.get('defense')['errors']) }}
      </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput aria-label="hp" placeholder="HP" type="number"  
        formControlName="hp" required />
        <mat-error
        *ngIf="monster.get('hp')['errors'] && monster.get('hp').touched"
      >
        {{ getErrorMessage(monster.get('hp')['errors']) }}
      </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput aria-label="speed" placeholder="speed" type="number"  
        formControlName="speed" required />
        <mat-error
        *ngIf="monster.get('speed')['errors'] && monster.get('speed').touched"
      >
        {{ getErrorMessage(monster.get('speed')['errors']) }}
      </mat-error>
      </mat-form-field>
      </div>

      
      <div formArrayName="moves" *ngFor="let item of monster.get('moves')['controls']; let i = index">
        <div [formGroupName]="i">
          <mat-form-field>
            <input matInput aria-label="move name" placeholder="name" type="text"  
            formControlName="name" />
            <mat-error
            *ngIf="item.get('name')['errors'] && item.get('name').touched"
          >
            {{ getErrorMessage(item.get('name')['errors']) }}
          </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput aria-label="move powerPoints" placeholder="powerPoints" type="number"  
            formControlName="powerPoints" />
            <mat-error
            *ngIf="item.get('powerPoints')['errors'] && item.get('powerPoints').touched"
          >
            {{ getErrorMessage(item.get('powerPoints')['errors']) }}
          </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput aria-label="move basePower" placeholder="basePower" type="number"  
            formControlName="basePower" />
            <mat-error
            *ngIf="item.get('basePower')['errors'] && item.get('basePower').touched"
          >
            {{ getErrorMessage(item.get('basePower')['errors']) }}
          </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput aria-label="move accuracy" placeholder="accuracy" type="number"  
            formControlName="accuracy" />
            <mat-error
            *ngIf="item.get('accuracy')['errors'] && item.get('accuracy').touched"
          >
            {{ getErrorMessage(item.get('accuracy')['errors']) }}
          </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput aria-label="move effect" placeholder="effect" type="text"  
            formControlName="effect" />
            <mat-error
            *ngIf="item.get('effect')['errors'] && item.get('effect').touched"
          >
            {{ getErrorMessage(item.get('effect')['errors']) }}
          </mat-error>
          </mat-form-field>
        </div>
        <!--<mat-error *ngIf="item.errors && item.get('name').touched">
          {{ getErrorMessage(item.errors) }}
        </mat-error>-->
      </div>
    <button type='submit' mat-raised-button [disabled]="!monster.valid">
      add monster
    </button>
  </form>
</mat-card-content>
  </mat-card>