.battle{
    display: flex;
}

.battle progress{
    margin-right: 0.5rem;
}

:host ::ng-deep .battleMove{
    border: 1pt solid black;
    margin: 0.5rem;
    padding: 0.5rem;
}

:host ::ng-deep .battleMove:hover{
    color: white;
    background-color: black;
}